@media (max-width: 500px) {
  /*    page.jsx    */
  .Container {
    overflow-y: auto;
  }
  /**********************/
  
  /*   SearchBar.jsx   */
    .searchbarClass {
      width: 50%;
    }
    /**********************/

    /*    ShowContent.jsx */
    
    .showActivities {
      display: none;
      top: 50%;
      right: 30%;
    }
    
    .showActivities {
      width: 100%;
      padding-left: 0;
    }
  
    .showActivities h1 {
      font-size: 20px;
    }
    /***************************/


    /*   DataBox.jsx  */
    .Picture {
      width: 70px;
      height: 130px;
    }
    .DataboxContainer {
      width: 90%;
    }
    .Databox-First-part {
      width: 40%;
    }
    /*********************/

  }